MANUS_API_KEY=sk-ZlRaak2ib3cZ0xEAUmGCI4bPB6C4pgwog7-XIZWYaUCjmSCN_GBC1SWOhWy0u97kuf-TKQOmc4eo2pCNQoOnASg6Ms22
TYPECAST_API_KEY=__pltKXhTFwX2tCcmsUN3SGsNGMoJKyjPCCQ3fTNkcT5A
TYPECAST_ACTOR_ID=tc_67edd8ff659e800a322a5877

