MANUS_API_KEY=your_manus_key_here
TYPECAST_API_KEY=pgp:ww0EBwMC0/t+8Bb62Phr0l4BuUQjWi5B7nPq3V/nfVcrITJPTo0XaW25rgcUMhPDkMdOjNhePH3H
Uf3aysflpRsgjJRCqUcEflO7A3+iUyhbQeqMai9wNhhWU2VHUF86Q8P8Qm+vGGijPACSfQm4
TYPECAST_ACTOR_ID=tc_67edd8ff659e800a322a5877

YOUTUBE_CLIENT_ID=your_id_here.apps.googleusercontent.com
YOUTUBE_CLIENT_SECRET=your_secret_here
YOUTUBE_REFRESH_TOKEN=your_refresh_token_here
